* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-table {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main {
    background-color: orange;
    padding: 20px 0;
}